@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 23px;
}

table, td{
    border-collapse: collapse;
    border: 2px solid black;
    
}

h1 {
  text-align: center;
  font-size: 50px;
  margin: 10px;
}

body {
  
}

#table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-weight: 400;
}

table td {
  padding: 5px 27px;
}

a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px 0;
}

#dp {
  width: 80px;
  border-radius: 50%;
  border: 2px solid black;  
  display: flex;
}

#ref img {
  width: 22px;
}

#edu{
    margin-bottom: 10px;
}
